.material-button {
    border: none;
    width: 60px;
    height: 60px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    border-radius: 50%;
    position: fixed;
    right: 5%;
    bottom: 8%;
    background-color: lightgray;
}